/* .headerText {
  font-size: xx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
  align-self: center;
}
.subText {
  font-size: large;
  font-weight: bold;
  padding: 1%;
}
.image {
  cursor: pointer;
  transition: 0.3s;
  width: 70%;
}
.image:hover {
  opacity: 0.8;
}
.modal-content {
  margin: auto;
  display: block;
  width: 85%;
} */
body {
  background-image: url("./images/background_img.jpg");
  background-size: cover;
}
.basecard {
  /* width: 1300px; */
  height: 100%;
  margin: auto;
}
